@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Ubuntu', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('../img/1.jpg') #000 no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px); 
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);
}

.loading-text{
    font-size: 25px;
    color: #fff;
}

